@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i');
html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
canvas {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    text-align: center;
    transform: translate(-50%, 0);
    background-color: black;
}
#content {
	font-family: 'Cormorant Garamond', serif;
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -72%);
	font-size: 
}
nav::after {
	content: "";
	clear: both;
	display: table;
}
a {
	color: white;
	text-decoration: none;
	border: solid 1px white;
}

/* 800px */
@media screen and (min-width: 0px) {
	header {
		text-align: center;
		font-size: 5vw;
	}
	nav {
		text-align: center;
		margin-top: 6vw;
	}
	a {
		font-size: 2.6vw;
		margin: 0 2vw;
		padding: 1.4vw 1.9vw;
	}
	a:hover {
		margin: 0 1.9vw;
		padding: 1.5vw 2vw;
	}
}
/* 1400px */
@media screen and (min-width: 800px) {
	header {
		text-align: center;
		font-size: 3vw;
	}
	nav {
		text-align: center;
		margin-top: 4vw;
	}
	a {
		font-size: 1.6vw;
		margin: 0 1.8vw;
		padding: 1vw 1.5vw;
	}
	a:hover {
		margin: 0 1.75vw;
		padding: 1.1vw 1.6vw;
	}
}
/* default */
@media screen and (min-width: 1400px) {
	header {
		text-align: center;
		font-size: 2.2vw;
	}
	nav {
		text-align: center;
		margin-top: 3vw;
	}
	a {
		font-size: 1.3vw;
		margin: 0 1.5vw;
		padding: 0.7vw 1.2vw;
	}
	a:hover {
		margin: 0 1.45vw;
		padding: 0.8vw 1.3vw;
	}
}